In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import pickle
import csv

In [ ]:
from google.colab import drive
drive.mount('/content/Drive')

Drive already mounted at /content/Drive; to attempt to forcibly remount, call drive.mount("/content/Drive", force_remount=True).

Dans ce détecteur automatique, nous essaierons d'automatiser le processus de classification.
après les expériences précédentes, nous avons vu que la précision des modèles de perception textuelle dépasse le modèle général lorsque l'âge est compris entre 30 et 50 ans ([30,50]) mais que la précision générale du modèle l'emporte lorsque l'âge est compris entre 51 et 65 ans ([51,65]). ]).
nous allons donc créer une combinaison des trois premiers modèles d'approche de la conscience du contexte et du modèle général et classer par l'un des modèles en fonction de l'âge du patient.
les étapes à suivre sont donc les suivantes:
1. importer les quatre modèles et le jeu de données.
2. choisissez au hasard une ligne à partir de celui-ci (au lieu de saisir les données manuellement)
3. supprimez la colonne des maladies cardio-vasculaires et extrayez l'âge du patient de la ligne.
4. classer le patient dans l'un des modèles selon son âge.
5. imprimez si le patient a une maladie cardio-vasculaire ou non.

#1.  Importation des quatre modèles et du jeu de données.

In [ ]:
reader = csv.reader(open("/content/Drive/MyDrive/context awareness datasets/cardiovascular dataset/Copy of cardiovascular_diseases_dv3.csv", "r"), delimiter=';')
writer = csv.writer(open("/home/cardiovascular_diseases_dv3.csv", 'w'), delimiter=',')
writer.writerows(reader)

In [ ]:
df = pd.read_csv("/home/cardiovascular_diseases_dv3.csv")

In [ ]:
CA_model1=pickle.load(open('/content/Drive/MyDrive/context awareness models/cardiovascular models/random forest models/model 1 optimized acc_86_016.sav', 'rb'))
CA_model2=pickle.load(open('/content/Drive/MyDrive/context awareness models/cardiovascular models/random forest models/model 2 optimized acc_80_465.sav', 'rb'))
CA_model3=pickle.load(open('/content/Drive/MyDrive/context awareness models/cardiovascular models/random forest models/model 3 optimized acc_75_442.sav', 'rb'))
G_model=pickle.load(open('/content/Drive/MyDrive/Cardio vascular models/model random forest with cross validation acc_73_397.sav', 'rb'))

#2. choisissez au hasard une ligne à partir de celui-ci (au lieu de saisir les données manuellement)

In [ ]:
data_point = df.sample()
data_point

      AGE  GENDER  HEIGHT  ...  ALCOHOL  PHYSICAL_ACTIVITY  CARDIO_DISEASE
6773   61       1     155  ...        0                  1               1

[1 rows x 12 columns]

#3. supprimer la colonne des maladies cardiaques et extraire l'âge du patient de la ligne.

In [ ]:
X=data_point.drop("CARDIO_DISEASE", axis = 1)
age=X.iloc[0]['AGE']
X

      AGE  GENDER  HEIGHT  WEIGHT  ...  GLUCOSE  SMOKE  ALCOHOL  PHYSICAL_ACTIVITY
6773   61       1     155      53  ...        1      0        0                  1

[1 rows x 11 columns]

#4. classer le patient dans l'un des modèles en fonction de son âge .

In [ ]:
if ((age >50 ) | (age <30) ):
  prediction=G_model.predict(X)
elif ((age >=30 ) & (age <=40)):
  prediction=CA_model1.predict(X)
elif ((age >40 ) & (age <=45)):
  prediction=CA_model2.predict(X)
elif ((age >45 ) & (age <=50)):
  prediction=CA_model3.predict(X)

#5.prédire  si le patient a une maladie cardiaque ou non.

In [ ]:
if (prediction[0]==1) : 
  print("THis patient have CARDIO DISEASE")
else :
  print ("This patient is HEALTHY")

THis patient have CARDIO DISEASE